body {
    background: #1d1f20;
}

.jumbotron .red-color {
    color: #e92e4d;
}

.green-color {
    color: #14b64d;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.white {
    color: white;
}

.black {
    color: #1d1f20;
}

.grey {
    color: grey;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

footer {
    background-color: grey;
}

footer h3 {
    font-size: 20px;
}

.footer .container {
    padding: 40px;
    text-align: center;
}

.footer {
    background-color: #d7dedc;
}

.inline {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.inline a {
    text-decoration: none;
    color: black;
}

.cr,
.me {
    margin-right: 40px;
}

.fb,
.tw {
    margin-right: 40px;
}

.cr:after,
.me:after {
    content: "";
    border: 1px solid #555555;
    margin-left: 35px;
}